<h1 class="form-title">Login To Continue</h1>
<%= form_with url: session_path do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: :name %>
  </div>


  <div class="form-btn-wrapper bg-sec">
    <%= f.submit 'Log In', class: 'form-btn bg-sec' %>
  </div>
<% end %>
