<div id="competitions">
  <% @competitions.each do |competition| %>
    <a href="<%= competition_path(competition) %>" class="goal-items">
      <% image = competition.image.attached? ? url_for(competition.image): 'https://via.placeholder.com/60'%>
      <div class="thumbnail_image" style="background-image:url(&quot;<%= image %>&quot;) ">
      </div>
      <div class="goal-item-info">
        <p class="goal-item-info-top">
          <span class="goal-name"><%= competition.name.capitalize %></span>
          <span class="group-goals">Scored: <%= competition.goals_count %></span>
        </p>
      </div>
    </a>
  <% end %>
</div>
