<% @goals.each do |goal| %>
  <div class="goal-items">
    <% group = goal.parent_group %>
    <% image = group.image.attached? ? url_for(group.image): 'https://via.placeholder.com/60'%>
    <% p group.image.attached? %>
    <div class="thumbnail_image" style="background-image:url(&quot;<%= image %>&quot;) ">
    </div>
    <div class="goal-item-info">
      <p class="goal-item-info-top">
        <span class="goal-name"><span class="vs">VS</span><%= goal.name.capitalize %></span>
        <span class="goal-amount">Scored: <%= goal.amount %></span>
      </p>
      <small class="goal-date"><%= goal.created_at %></small>
    </div>
  </div>
<% end %>
