<div class="goal-menu flex-between">
  <p class="goal-menu-items ">
    <%= link_to "All", goals_path, class: "btn-sec" %>
  </p>
  <p class="goal-menu-items">
    <%= link_to "By Style", groups_path, class: "btn-sec" %>
  </p>
  <p class="goal-menu-items">
    <%= link_to "By Competition", goals_path, class: "btn-sec" %>
  </p>
</div>
